#home.content.content--home(data-position="center")
  .content-inner

    img.portrait(src="./assets/images/me.jpg", alt="Me")

    ul.menu#js-menu
      li: button.btn.btn--about(
        data-target="#about"
        data-move="left"
        data-position="center") About
      li: button.btn.btn--resume(
        data-target="#resume"
        data-move="right"
        data-position="center") Resume
      li: button.btn.btn--portfolio(
        data-target="#portfolio"
        data-move="left"
        data-position="center") Portfolio
      li: button.btn.btn--blog(
        data-target="#blog"
        data-move="right"
        data-position="center") Blog
      li: button.btn.btn--contact(
        data-target="#contact"
        data-move="left"
        data-position="center") Contact
